// @import './_layout.less';
// @import './_menu.less';
// @import './_home.less';
// @import './_about.less';
/**
 * layout
 */
.pager {
  height: 100vh;
  background: #000;
  overflow: hidden;
}

.musicContainer {
  background: rgba(0, 0, 0, 0.75);
  display: inline-block;
  width: 60px;
  height: 60px;
  position: fixed!important;
  left: 20px;
  bottom: 20px;
  border-radius: 50%;
  z-index: 3;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  overflow: hidden;
}

.musicContainer.play {
  animation: rotate 3s linear infinite;
}

.musicContainer .icon {
  margin: 0;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/**
 * menu
 */
.ui.secondary.pointing.menu {
  border-bottom: none;
  overflow: hidden;
}
/**
 * home
 */
.mine {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .header {
    text-align: center;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.mine h1 {
  font: bold 200% Consolas,Monaco,monospace;
  border-right: 0.1em solid;
  font-size: 30px;
  width: 16.5em;
  width: 30ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30,end), blink-caret 0.5s step-end infinite alternate;
}
/**
 * about
 */
.ui.about {
  display: flex;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
  }

  .left.section {
    background: #fff;
    height: 100vh;
    flex: 1;

    .ui.myContainer {
      padding: 30px 50px;
      @media only screen and (max-width: 767px) {
        padding: 14px 20px;
      }

      > .header {
        text-shadow: 0 4px 4px rgba(120, 120, 120, 0.8);
      }
    }

    .top.banner.image {
      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
        background: #e0e0e0;
      }
    }

    .ui.stack {
      .ui.progress {
        background: none;
        width: 100%;

        .progress {
          left: 0.2em;
        }

        .stack {}
      }
    }
  }

  .right.section {
    width: 300px;
    height: 100vh;
    flex-shrink: 0;
    background: #f0f0f0;
    color: rgba(0, 0, 0, .75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ui.info {
      .image {
        padding: 50px 50px 20px;
        border-radius: 50%;
        box-sizing: border-box;

        img {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          object-fit: cover;
          transition: transform 2s;
          cursor: pointer;
          background: #e0e0e0;

          &:hover {
            transform: rotate(360deg);
          }
        }
      }

      h3.header {
        text-transform: uppercase;
        letter-spacing: 6px;
        text-align: center;
        font-size: 36px;
        margin: 0;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #ccc;
        background: -webkit-linear-gradient(right,#fefefe,#1f2520);
        -webkit-background-clip: text;
        margin-bottom: 10px;
      }

      .content {
        line-height: 1.8;
      }
    }

    .ui.contact {
      .center.aligned {
        text-align: center;

        a {
          color: black;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      width: 100vw;

      .ui.info {
        .image {
          padding: 10px 20px;
          width: 50%;
          margin: 0 auto;
        }

        h3.header {
          font-size: 24px;
        }
      }
    }
  }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 2px!important;
  background-color: #F5F5F5!important;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
  border-radius: 10px!important;
  background-color: #F5F5F5!important;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px!important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)!important;
  background-color: #555!important;
}
/**
 * Blog
 */
.blog.pager {
  background: url("/src/asset/img/5-120601095959.jpg");
  color: #fff;

  .ui.search {
    position: fixed;
    top: 2px;
    z-index: 300;
    @media only screen and (min-width: 1200px) {
      right: calc((100% - 1127px) / 2);
    }
    @media only screen and (max-width: 1199px) and (min-width: 992px) {
      right: calc((100% - 933px) / 2);
    }
    @media only screen and (max-width: 991px) and (min-width: 768px) {
      right: calc((100% - 723px) / 2);
    }
    @media only screen and (max-width: 767px) {
      right: 0.928571em;

      .ui.right.floated.icon.input {
        width: 140px;
      }
    }

    .ui.right.floated.icon.input {
      overflow: hidden;
      order: 20;
      align-self: flex-end!important;

      input {
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: 1.5px solid #ffffff;
        transform: translateY(40px);
        transition: all 0.5s;
        padding: 0.85714286em 1.14285714em;
        color: #fff;

        &.reveal {
          transform: translateY(0);
        }
      }

      .search.icon {
        pointer-events: inherit;
        cursor: pointer;
        color: #fff;
      }
    }
  }

  .ui.blog.container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ui.articles {
      list-style-type: lower-latin;
      padding-left: 0.928571em;
      height: 400px;
      @media only screen and (min-height: 760px) {
        height: 600px;
      }

      .article {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        height: 30px;
        margin-bottom: 10px;
        @media only screen and (min-height: 760px) {
          margin-bottom: 30px;
        }

        .title {
          font-size: 24px;
          @media only screen and (max-width: 767px) {
            font-size: 14px;
          }

          .tag {
            font-size: 12px;
            background: pink;
            padding: 0 0.4em;
            border-radius: 4px;
          }
        }

        .time {
          margin-left: 100px;
          align-self: flex-end;
        }
      }
    }

    .ui.vue.pagination.menu {
      background: rgba(0, 0, 0, 0.75);
      width: fit-content;
      align-self: center;

      .item {
        cursor: pointer!important;
        outline: none;
        color: #fff;

        &.disabled {
          color: rgba(255, 255, 255, 0.75)!important;
        }

        &.active {
          color: red!important;
        }
      }
    }
  }
}
/**
 * Article
 */
.blog.article.pager {
  overflow: auto;

  .loading {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
  }

  pre {
    background: rgba(0, 0, 0, .35);
    border-radius: 0.4em;
    padding: 1em;
  }

  code {
    background: #333;
    margin: 0 0.4em;
    display: inline-block;
    border-radius: 4px;
    padding: 0 0.4em;
    color: #eb9d19;
  }

  blockquote {
    border-left: 4px solid #42b983;
    font-size: 16px;
    margin-left: 0;
    padding-left: 1em;
  }

  p {
    color: rgba(255, 255, 255, 0.75);
  }
}

.ui.blog.container code[class*='language'] {
  background: none;
  margin: 0 0.4em;
  display: inherit;
  border-radius: 4px;
  padding: 0 0.4em;
  color: inherit;
}
